<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.stbu.hotel.mapper.CheckinRecordMapper">
<!--    查询入住记录列表-->
    <select id="getCheckinRecords" resultType="com.cn.stbu.hotel.domain.CheckinRecord">
        select * from `checkin_records`;
    </select>
<!--查询单条记录-->
    <select id="getCheckinRecordByCIId" resultType="com.cn.stbu.hotel.domain.CheckinRecord">
        select * from `checkin_records`;
        where CI_id = #{CIId}
    </select>
<!--增加记录-->
    <insert id="addCheckinRecord">
        INSERT INTO `checkin_records`(`CI_id`, `user_id`, `status`, `ci_time`, `co_time`, `description`)
         VALUES (#{CIId}, #{userId}, #{status}, #{ciTime}, #{coTime}, #{cDescribe});
    </insert>
<!--删除记录-->
    <delete id="delCheckinRecordByCIId">
    delete from checkin_records where CI_id = #{CIId}
    </delete>
<!--更新记录-->
    <update id="updateCheckinRecord">
        UPDATE `hotel_ai`.`checkin_records` SET
         `user_id` = #{userId}, `status` = #{status}, `ci_time` = #{ciTime}, `co_time` = #{coTime}, `description` = #{cDescribe}
        WHERE `CI_id` = #{CIId};
    </update>

</mapper>